@charset "utf-8";

@media screen and (max-width: 768px) {
    .container {
        background-color: #00b3ee;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        background-color: #dddddd;
    }
}